@page
@model MitreAttackHelper.Pages.Matrix.IndexModel

@using MitreAttackHelper.Models.Mitre;

<div id="top-info-bar" class="row align-middle text-start">
    <div id="intrusion-set-selector" class="col-4 text-start">
        <div class="row h-50px">
            <span class="my-auto fw-bold">
                Intrusion Set
                <select id="intrusion-set" class="text-center" onchange="jIntrusionSelect($(this).val())">
                    <option value="blank"></option>
                    @foreach (MitreIntrusionSet intrusionSet in Model.IntrusionSets)
                    {
                        <option value="@intrusionSet.Id">@intrusionSet.Name</option>
                    }
                </select>
                <a href="javascript:jClearSelection();">Clear All</a>
            </span>
        </div>
    </div>
    <div id="page-info" class="col text-center">
        <div class="row h-50px">
            <span class="my-auto fw-bold text-decoration-underline">
                @Model.Matrix.Name @Model.Matrix.MitreAttackSpecVersion
            </span>
        </div>
    </div>
    <div id="other-info" class="col-4 text-end">
        <div class="row h-50px">
            <span class="my-auto">
                <a href="javascript:jMatchIntrusionSets();">Find Matching Intrusion Sets</a>
            </span>
        </div>
    </div>
</div>
<div id="@Model.Matrix.Id" name="@Model.Matrix.Name" class="row text-center align-middle fs-smaller">
    @{
        foreach ((MitreTactic Tactic, IEnumerable<(MitreAttackPattern AttackPattern, string ParentId)> AttackPatterns) in Model.CombinedTacticData)
        {
            <div id="@Tactic.Id" class="col">
                <div id="@Tactic.MitreShortName" class="row border-bottom border-top border-dark h-50px">
                    <span class="my-auto fw-bold">@Tactic.Name</span>
                </div>
                @foreach ((MitreAttackPattern AttackPattern, string ParentId) in AttackPatterns)
                {
                    <div id="@AttackPattern.Id" class="row border @(AttackPattern.MitreIsSubTechnique == true ? "child collapse" : null)" data-parent="@ParentId">
                        <span class="my-auto" oncontextmenu="return jSelectToggle(this);">@AttackPattern.Name</span>
                    </div>
                }
            </div>
        }
<script>
            @foreach (string parentId in Model.ParentIds)
            {
                @:$(document).find(`[id='@parentId']`).addClass('parent');
                @:$(document).find(`[id='@parentId']`).attr('onClick', 'jCollapseToggle(this)');
            }
</script>
        <script>
            var userSelected = [];
            var result = {};
        </script>
    }
</div>
