@page
@model MitreAttackHelper.Pages.Matrix.IndexModel

@using MitreAttackHelper.Models.Mitre;

<div id="@Model.Matrix.Id" name="@Model.Matrix.Name" class="row text-center align-middle fs-smaller">
    @{
        foreach ((MitreTactic Tactic, IEnumerable<(MitreAttackPattern AttackPattern, string ParentId)> AttackPatterns) in Model.CombinedTacticData)
        {
            <div id="@Tactic.Id" class="col">
                <div id="@Tactic.MitreShortName" class="row border-bottom border-dark h-50px">
                    <span class="my-auto fw-bold">@Tactic.Name</span>
                </div>
                @foreach ((MitreAttackPattern AttackPattern, string ParentId) in AttackPatterns)
                {
                    string onclick = null;
                    string parent = null;

                    if (Model.ParentIds.Contains(AttackPattern.Id))
                    {
                        onclick = $"jCollapseToggle('{AttackPattern.Id}', '{Tactic.Id}');";
                        parent = "parent";
                    }
                    <div id="@AttackPattern.Id" class="row border @parent @(AttackPattern.MitreIsSubTechnique == true ? "child collapse" : null)" data-parent="@ParentId">
                        <span class="my-auto" onclick="@onclick" oncontextmenu="return jSelectToggle(this);">@AttackPattern.Name</span>
                    </div>
                }
            </div>
        }
    }
</div>